@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0; // Agregado el punto y coma

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;   // Ocupa el 100% del ancho de la ventana
    height: 100vh;  // Ocupa el 100% del alto de la ventana
  }   
}
